<div id="page-content-wrapper">
  <div id="page-content">
    <div class="container">


      <div id="page-title">
        <h2>Utilisateurs</h2>
        <p>Liste des utilisateur de l'application.</p>

      </div>
      <div class="row">
        <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    <strong>Total :</strong>
                    {{$ctrl._users.meta.total_count}}
                </h3>
                <div class="example-box-wrapper"  style="text-align:center;">
                  <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-2">
                      <input type="search" class="form-control" placeholder="Chercher par nom..." ng-model="$ctrl.search" ng-keypress="$ctrl.searchByName()">
                    </div>
                  </div>

                  <div class="dataTables_paginate paging_bootstrap" id="datatable-example_paginate">
                    <ul uib-pagination ng-model="$ctrl._users.meta.current_page" total-items="$ctrl._users.meta.total_count" max-size="5" items-per-page="25" ng-change="$ctrl.getPageUsers()" ng-disabled="$ctrl._load" boundary-links="true"></ul>
                  </div>
                  <table class="table">
                      <thead>
                      <tr>
                          <th></th>
                          <th>Nom</th>
                          <th>Pseudo</th>
                          <th>Email</th>
                          <th></th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr ng-show="$ctrl.load">
                          <td colspan="5" class="text-center">
                            <div class="glyph-icon tooltip-button icon-spin-4 icon-spin font-size-35 font-azure"></div>
                          </td>
                        </tr>
                        <tr ng-repeat="user in $ctrl._users.users" ng-show="!$ctrl.load">
                          <td><img style="width: 40px;height: 40px;" ng-src="{{user.profile.avatar.url}}" data-original="{{user.profile.avatar.url}}" check-avatar alt="" class="meta-image img-bordered img-circle"></td>
                          <td>{{user.name}}</td>
                          <td>{{user.username}}</td>
                          <td>{{user.email}}</td>
                          <td>
                            <a ui-sref="app.user({id: user.id})" class="btn btn-primary">
                              <i class="glyph-icon icon-eye"></i>
                              Voir
                            </a>
                          </td>
                          <!-- <td><span ng-class="{'bs-label label-success': user.status == 'online', 'bs-label label-danger': user.status == 'offline'}">{{user.status}}</span></td> -->
                        </tr>
                      </tbody>
                  </table>
                  <div class="dataTables_paginate paging_bootstrap" id="datatable-example_paginate">
                    <ul uib-pagination ng-model="$ctrl._users.meta.current_page" total-items="$ctrl._users.meta.total_count" max-size="5" items-per-page="25" ng-change="$ctrl.getPageUsers()" ng-disabled="$ctrl._load" boundary-links="true"></ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>
