<div id="page-content-wrapper">
  <div id="page-content">            
    <div class="container">


      <div id="page-title">
        <h2>Galerie Photos</h2>
        
      </div>
      <div class="panel" ng-show="$ctrl._newCat == false">
          <div class="panel-body" style="text-align:center;">
              <!-- <button class="btn btn-primary">Nouvelle vidéo</button> -->
              <button class="btn btn-blue-alt"  ng-click="$ctrl._newCat = true">Nouvelle catégorie</button>
             
          </div>
      </div>
       <div class="panel" ng-show="$ctrl._newCat == true">
        
              <div class="panel-body">
              <div class="row">
                  <div class="col-xs-10">
                      <h3 class="title-hero">
                        Nouvelle catégorie

                  </h3>
                  </div>
                  <div class="col-xs-2">
                      <h3 class="title-hero pull-right" style="cursor:pointer;" ng-click="$ctrl._newCat = false">X</h3>
                  </div>
              </div>
                  
                  <form ng-submit="$ctrl.submitCat()" class="form-horizontal bordered-row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="" placeholder="Nom" ng-model="$ctrl._new_category_photo.name">
                        </div>
                    </div>
                 </form>
              </div>
              <div class="panel-footer" style="text-align:center;">
                  <button type="button" class="btn btn-primary " type="submit" ng-click="$ctrl.submitCat()">
                      <i class=" glyph-icon tooltip-button icon-floppy-o"></i>
                      Enregistrer
                  </button>
              </div>
        
      </div>
      

      <link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/portfolio-navigation.css">

      <!-- Mixitup -->

      <script type="text/javascript" src="../assets/widgets/mixitup/mixitup.js"></script>
      <script type="text/javascript" src="../assets/widgets/mixitup/images-loaded.js"></script>
      <script type="text/javascript" src="../assets/widgets/mixitup/isotope.js"></script>
      <script type="text/javascript" src="../assets/widgets/mixitup/portfolio-demo.js"></script>
      <script type="text/javascript" src="../assets/widgets/dropzone/dropzone.js"></script>



      <!-- Video Categories -->
      <div class="portfolio-controls mrg10L mrg10R radius-all-4 portfolio-nav-alt bg-blue clearfix controls">
          <div class="container text-center">
              <ul class="float-none">
                  <li class="filter" data-filter="all" ng-click="$ctrl.selected_cat = undefined">View all </li>
                  <li ng-repeat= "category in $ctrl._category_photos" class="filter" data-filter="hover_{{category.id}}" ng-click="$ctrl.photosCategory(category)">{{category.name}}</li>
                  <!-- <li class="filter" data-filter="hover_1">Illustrations</li>
            <li class="filter" data-filter="hover_2">Food &amp; Drink</li>
            <li class="filter" data-filter="hover_3">Mobile applications</li>
                    <li class="filter" data-filter="hover_4">Gadgets &amp; Effects</li> -->
              </ul>
          </div>
      </div> 

      <div class="clearfix">
      <div class="panel" ng-show="$ctrl._selected_cat != undefined">
            <div class="panel-body" style="text-align:center;">
                <button class="btn btn-primary" ng-click="$ctrl.newPhotoModal($ctrl._selected_cat)">
                    <i class="glyph-icon icon-photo"></i>
                    Nouvelle photo
                </button>
                <button class="btn btn-default" ng-click="$ctrl.deleteCat($ctrl._selected_cat)">
                    <i class="glyph-icon icon-pencil"></i>
                    Editer Catégorie
                </button>
                <button class="btn btn-danger" ng-click="$ctrl.deleteCat($ctrl._selected_cat)">
                    <i class="glyph-icon icon-trash-o"></i>
                    Supprimer Catégorie
                </button>
            </div>
        </div>
      <ul mixitup="portfolio-grid" class="reset-ul row" entities='$ctrl._photos' style="display:flex;flex-direction: row;flex-wrap: wrap;">
        
        <li ng-repeat="photo in $ctrl._photos|orderBy:'-height'" class="col-lg-3 col-sm-6 col-md-4 mix hover_{{photo.category_photo_id}}" data-cat="{{photo.category_photo_id}}">
            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" ng-click="$ctrl.photoModal(photo)"   >
                    <a href="javascript:void(0)" title="My Account" class="user-profile clearfix"  aria-expanded="false"></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-photo"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img ng-src= "{{photo.src.url}}" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a ng-click="$ctrl.photoModal(photo)" title="" data-toggle="modal" data-target="#{{photo.id}}">
                            {{photo.title}}
                        </a>
                        <small>{{photo.description}}</small>
                    </h3>
                </div>
            </div>

            
        </li>

    </ul>
    </div>

    <div class="divider"></div>

                        </div>

                    

                </div>
            </div>

