<div id="page-header" class="bg-gradient-9" ng-show="$ctrl.navbar">

    <!-- burger for mobile navigation -->
    <div id="mobile-navigation">
        <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
        <a href="index.html" class="logo-content-small" title="MonarchUI"></a>
    </div>

    <!-- header logo for web navigation -->
    <div id="header-logo" class="logo-bg">
        <a href="index.html" class="logo-content-big" title="MonarchUI">
            Monarch <i>UI</i>
            <span>The perfect solution for user interfaces</span>
        </a>
        <a href="index.html" class="logo-content-small" title="MonarchUI">
            Monarch <i>UI</i>
            <span>The perfect solution for user interfaces</span>
        </a>
        <a id="close-sidebar" href="#" title="Close sidebar">
            <i class="glyph-icon icon-angle-left"></i>
        </a>
    </div>

    <!-- profile header left -->
    <div id="header-nav-left">
        <div class="user-account-btn dropdown">

            <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                <img width="28" src="styles/gravatar.jpg" alt="Profile image">
                <span>{{$ctrl.current_user.username}}</span>
                <i class="glyph-icon icon-angle-down"></i>
            </a>

            <div class="dropdown-menu float-left">
                <div class="box-sm">

                    <div class="login-box clearfix">
                        <div class="user-img">
                            <a href="#" title="" class="change-img">Change photo</a>
                            <img src="styles/gravatar.jpg" alt="">
                        </div>

                        <div class="user-info">
                            <span>
                                {{$ctrl.current_user.username}}
                                <i>Administrateur</i>
                            </span>
                            <a href="#" title="Edit profile">Edit profile</a>
                            <a href="#" title="View notifications">View notifications</a>
                        </div>
                    </div>

                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a ng-click="$ctrl.logout()" class="btn display-block font-normal btn-danger">
                            <i class="glyph-icon icon-power-off"></i>
                            Logout
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- #header-nav-left -->




    <div id="header-nav-right">
      <div class="dropdown" id="notifications-btn">
            <a data-toggle="dropdown" href="#" title="" aria-expanded="true">
                <span class="small-badge bg-yellow" ng-show="$ctrl._notifications.length > 0"></span>
                <i class="glyph-icon icon-bell"></i>
            </a>
            <div class="dropdown-menu box-md float-right">

                <div class="popover-title display-block clearfix pad10A">
                    Notifications
                </div>
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><div class="scrollable-content scrollable-slim-box" style="overflow: hidden; width: auto; height: 250px;">
                    <ul class="no-border notifications-box">
                        <li ng-repeat="notification in $ctrl._notifications" ng-click="$ctrl.redirectNotification(notification)">
                            <span class=" icon-notification glyph-icon " ng-class="{'bg-danger icon-camera': notification.notification_type == 'new_video'}"></span>
                            <span class="notification-text">
                              {{notification.message}}
                              <p ng-show="notification.notification_type == 'new_video' ">posté par {{notification.meta.user_name}}</p>
                            </span>

                            <div class="notification-time">
                                <div moment time="{{notification.created_at}}" class="display-inline">

                                </div>
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>

                    </ul>
                </div><div class="slimScrollBar" style="background: rgb(141, 160, 170); width: 6px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 118.147px;"></div>
                <div class="slimScrollRail" style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
              </div>
            </div>
        </div>

    </div><!-- #header-nav-right -->

</div>
