<div id="page-sidebar"  ng-show="$ctrl.navbar == true">
	<div class="scroll-sidebar">
    <ul id="sidebar-menu" >
	    <li class="header"><span>Général</span></li>
			<li ui-sref-active="sfHover">
					<a ui-sref="app.videos" title="Videos" class="sf-without-ul">
							<i class="glyph-icon icon-linecons-tv"></i>
							<span>NA39 tv</span>
					</a>
			</li>
      <li>
        <a href="javascript:void(0)" title="Activités" class="sf-with-ul">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>Activités</span>
            <!-- <span class="bs-label label-primary">Hot</span> -->
        </a>
        <div class="sidebar-submenu">
          <ul>
              <li ><a ui-sref-active="sfActive" ui-sref="app.exercises" title="Exercises"><span>Exercices</span></a></li>
              <li ><a ui-sref-active="sfActive" ui-sref="app.workouts" title="Workouts"><span>Workouts</span></a></li>
              <li ><a ui-sref-active="sfActive" ui-sref="app.steps" title="Etapes de workout"><span>Étapes de workout</span></a></li>
              <li ><a ui-sref-active="sfActive" ui-sref="app.challenges" title="Challenges"><span>Challenges</span></a></li>
          </ul>
      	</div><!-- .sidebar-submenu -->
  		</li>
	    <li ui-sref-active="sfHover">
	        <a ui-sref="app.photos" title="Photos" class="sf-without-ul">
	            <i class="glyph-icon icon-linecons-photo"></i>
	            <span>Photos</span>
	        </a>
	    </li>
	    <li ui-sref-active="sfHover">
	        <a ui-sref="app.items" title="Equipement" class="sf-without-ul">
	            <i class="glyph-icon icon-linecons-t-shirt"></i>
	            <span>Equipements</span>
	        </a>
	    </li>
			<li ui-sref-active="sfHover">
	        <a ui-sref="app.users" title="Equipement" class="sf-without-ul">
	            <i class="glyph-icon icon-linecons-user"></i>
	            <span>Utilisateurs</span>
	        </a>
	    </li>
			<li ui-sref-active="sfHover">
	        <a ui-sref="app.skills" title="Equipement" class="sf-without-ul">
	            <i class="glyph-icon icon-linecons-camera"></i>
	            <span>Vidéos</span>
	        </a>
	    </li>
    </ul><!-- #sidebar-menu -->
  </div>
</div>
