<div id="page-content-wrapper">
  <div id="page-content">            
    <div class="container">


      <div id="page-title">
        <h2>{{$ctrl._workout.title}}</h2>
        <p>{{$ctrl._workout.description}}</p>
        
      </div>
      <div class="panel" >
            <div class="panel-body" style="text-align:center;">
                <button class="btn btn-primary" ng-click="$ctrl.newStep()">
                    <i class="glyph-icon icon-plus"></i>
                    Ajouter étape
                </button>
                <button class="btn btn-default" ng-click="$ctrl.editWorkout()">
                    <i class="glyph-icon icon-pencil"></i>
                    Editer workout
                </button>
                <button class="btn btn-danger" ng-click="$ctrl.deleteWorkout()">
                    <i class="glyph-icon icon-trash-o"></i>
                    Supprimer workout
                </button>
            </div>
        </div>
      <div class="row">
        <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Étape du workout
                </h3>
                <div class="example-box-wrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Étape</th>
                            <th>Repetition</th>
                            <th>Break</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="step_workout in $ctrl._workout.step_workouts|orderBy:'rank'">
                            <td>{{step_workout.rank}}</td>
                            <td>{{step_workout.step.title}}</td>
                            <td>{{step_workout.repetition}}</td>
                            <td>{{step_workout.break_period}}</td>
                            <td>{{step_workout.status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>

