<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.modalInstance.close($ctrl._new_instance)" ng-disable="$ctrl.load">&times;</button>
    <h4 class="modal-title">New {{$ctrl._instance_name}}</h4>
</div>
<div class="modal-body">
    <div id="form-wizard-3" class="form-wizard" >
        <ul>
            <li id="link-1" class="active">
              <a data-toggle="tab" ng-class="{'done': $ctrl.step > 1}">
                <label class="wizard-step" ng-show="$ctrl.step <= 1">1</label>
                <label class="wizard-step" ng-show="$ctrl.step > 1">
                  <i class="glyph-icon icon-check"></i>
                </label>
                <span class="wizard-description">
                   Informations
                   <small></small>
                </span>
              </a>
            </li>
            <li id="link-2" class="">
              <a data-toggle="tab" ng-class="{'done': $ctrl.step > 2}">
                <label class="wizard-step" ng-show="$ctrl.step <= 2">2</label>
                <label class="wizard-step" ng-show="$ctrl.step > 2">
                  <i class="glyph-icon icon-check"></i>
                </label>
                <span class="wizard-description">
                  Video
                  <small>Join the video</small>
                </span>
              </a>
            </li>
            <li id="link-3" class="">
              <a data-toggle="tab" ng-class="{'done': $ctrl.step > 3}">
                <label class="wizard-step" ng-show="$ctrl.step <= 3">3</label>
                <label class="wizard-step" ng-show="$ctrl.step > 3">
                  <i class="glyph-icon icon-check"></i>
                </label>
                <span class="wizard-description">
                  Cover
                   <small>Join the cover</small>
                </span>
              </a>
            </li>
            <li id="link-4">
              <a data-toggle="tab" ng-class="{'done': $ctrl.step > 4}">
                <label class="wizard-step" ng-show="$ctrl.step <= 4">4</label>
                <label class="wizard-step" ng-show="$ctrl.step > 4">
                  <i class="glyph-icon icon-check"></i>
                </label>
                <span class="wizard-description">
                   Parameters
                   <small>set publication parameters</small>
                </span>
              </a>
            </li>
        </ul>
        <div class="row" ng-show="$ctrl.load == true">
        <div class="remove-border glyph-icon demo-icon tooltip-button icon-spin-6 icon-spin" style= "margin: 10px auto;color:#39d2b4"></div>
    </div>
        <div class="tab-content" ng-hide="$ctrl.load">
            <div class="tab-pane active" id="step-1">
                <form class="form-horizontal bordered-row" name='videoForm'>
                    <div class="form-group" ng-class="{ 'has-error': (videoForm.$submitted || videoForm.title.$touched ) && videoForm['title'].$invalid }">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-8 ">
                            <input type="text" class="form-control" id="" placeholder="Titre" ng-model="$ctrl._new_instance.title" required="true" name="title">
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': (videoForm.$submitted || videoForm.sub_title.$touched ) && videoForm['sub_title'].$invalid }">
                        <label class="col-sm-2 control-label">Sub Titre</label>
                        <div class="col-sm-8 ">
                            <input type="text" class="form-control" id="" placeholder="Titre" ng-model="$ctrl._new_instance.sub_title" required="true" name="sub_title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-8">
                            <textarea name="" id="" class="form-control" ng-model="$ctrl._new_instance.description"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="step-2">
                <form class="form-horizontal bordered-row">
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="img-modal" ng-hide="$ctrl._file_uploader.queue[0]" >
                              <div class="js input-file-container">
                                <input class="input-file" type="file" uploader="$ctrl._file_uploader" nv-file-select></input>
                                <label class="input-file-trigger" for="my-file{{$index + 1 %> %>" tabindex="0">
                                  Choose video...
                                </label>
                              </div>
                            </div>
                            <div class="content-box"  ng-show="$ctrl._file_uploader.queue[0]">
                                <div class="content-box-wrapper">
                                    Name: <span ng-bind="$ctrl._file_uploader.queue[0].file.name"></span>
                                    <div class="progressbar" data-value="{{$ctrl._file_uploader.queue[0].progress}}">
                                        <div ng-class=" {'progressbar-value bg-blue': $ctrl._file_uploader.queue[0].progress < 100, 'progressbar-value bg-green': $ctrl._file_uploader.queue[0].progress == 100}" style="width: {{$ctrl._file_uploader.queue[0].progress}}%">
                                            <div class="progress-label">{{$ctrl._file_uploader.queue[0].progress}}%</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="tab-pane " id="step-3">
                 <form class="form-horizontal bordered-row">
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="img-modal" ng-hide="$ctrl._file_uploader.queue[1]" >
                              <div class="js input-file-container">
                                <input class="input-file" type="file" uploader="$ctrl._file_uploader" nv-file-select></input>
                                <label class="input-file-trigger" for="my-file{{$index + 1 %> %>" tabindex="0">
                                  Choose cover...
                                </label>
                              </div>
                            </div>
                            <div class="content-box"  ng-show="$ctrl._file_uploader.queue[1]">
                                <div class="content-box-wrapper">
                                    Name: <span ng-bind="$ctrl._file_uploader.queue[1].file.name"></span>
                                    <div class="progressbar" data-value="{{$ctrl._file_uploader.queue[1].progress}}">
                                        <div ng-class=" {'progressbar-value bg-blue': $ctrl._file_uploader.queue[1].progress < 100, 'progressbar-value bg-green': $ctrl._file_uploader.queue[1].progress == 100}" style="width: {{$ctrl._file_uploader.queue[1].progress}}%">
                                            <div class="progress-label">{{$ctrl._file_uploader.queue[1].progress}}%</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>
            </form>
            </div>
            <div class="tab-pane" id="step-4">
                <form class="form-horizontal bordered-row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-6">
                            <label class="radio-inline">
                                <input type="radio"  value="online" ng-model="$ctrl._new_instance.status">
                                Online
                            </label>
                            <label class="radio-inline">
                                <input type="radio"  value="offline" ng-model="$ctrl._new_instance.status">
                                Offline
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-show="$ctrl._instance_name != 'step'">
                        <label class="col-sm-2 control-label">Abonnés uniquement</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="checkbox" ng-model="$ctrl._new_instance.need_subsription">
                                <div class="hint" style="color: #949494;font-size: 10px;">
                                  En décochant cette case vous acceptez que les utilisateurs non-abonnés puisse visionner ce contenue.
                                </div>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>









<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-show="$ctrl.step >= 2" ng-click="$ctrl.back()">
      <i class=" glyph-icon icon-arrow-left"> </i>
      Prev
  </button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.firstStep(videoForm)" ng-show="$ctrl.step == 1">
        Next
        <i class="glyph-icon icon-arrow-right"></i>
    </button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.secondStep($ctrl._file_uploader.queue[0])" ng-show="$ctrl.step == 2">
        Next
        <i class="glyph-icon icon-arrow-right"></i>
    </button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.thirdStep($ctrl._file_uploader.queue[1])" ng-show="$ctrl.step == 3">
        Next
        <i class="glyph-icon icon-arrow-right"></i>
    </button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.fourthStep()" ng-show="$ctrl.step == 4">
        Save
        <i class="glyph-icon icon-arrow-right"></i>
    </button>
</div>
